<table class="table  table-bordered" style="color: white;">

    <thead>

        <tr>
            <th colspan="3" class="text-center">

                carro compra

            </th>
        </tr>
        <tr>
            <th>
                producto
            </th>
            <th>
                cantidad
            </th>
            <th>
                suma
            </th>
        </tr>


    </thead>
    <tbody>
        {% if request.session.carro.items %}
            {% for key, value in request.session.carro.items %}
                <tr class="text-center">

                    <td>{{value.nombre}}</td>
                    <td>{{value.cantidad}}</td>
                    <td>
                        <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sn btn-secces">+</a>
                        <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sn btn-secces">-</a>

                        {{value.precio}} $
                    </td>

                </tr>

            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">

                        sin productos

                    </div>
                </td>
            </tr>
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">

                Total: {{importe_total_carro}} $

            </td>
        </tr>
    </tfoot>

</table>